@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* .outfit-<uniquifier> {
     font-family: "Outfit", sans-serif;
     font-optical-sizing: auto;
     font-weight: <weight>;
     font-style: normal;
   } */

   .navbar h2{
     color: rgb(177, 6, 6);
     font-size: 40px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: 400;
     font-style: normal;
   }

.logo{
     height: 150px;
     position: relative;
}
.navbar{
     display: flex;
     /* height: 5vh; */
     align-items: center;
     justify-content: space-between;
     height: 10vh;
     margin-top: 1vh;
}

.navbarMenu{
     display: flex;
}
.navbarMenu li{
     margin: 0 3vh;
     list-style: none;
     font-size: x-large;
     color: grey;
     
}

.navbarRight{
     display: flex;
     align-items: center;
     gap: 20px;
}

.navbarRight button{
     height: 6vh;
     width: 15vh;
     border-radius: 30px;
     font-size: large;
     background-color: transparent;
     cursor: pointer;
     transition: 0.1s;
     
}
.navbarRight button:hover{
     background-color: darkgray;
}

.active{
     padding-bottom: 1vh;
     border-bottom: 3px solid darkgray;
}


.navbarSearchIcons{
     position: relative;
}
.navbarRight .dot{
     background-color: tomato;
     position: absolute;
     min-width: 10px;
     min-height: 10px;
     border-radius: 5px;
     top:-7px;
     right: 3px;

}


@media  (max-width:1100px){
     .navbar h2{
          color: rgb(177, 6, 6);
          font-size: 40px;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
           font-weight: 400;
          font-style: normal;
        }
     .logo{
          width: 20vh;
     }
     .navbar li{
          margin: 0 1vh;

     }
     .navbarMenu{
          display: flex;
          gap: -2vh;
     }
     .navbarMenu li{
          font-size: 3vh;
          font-size: large;
     }
     .navbarRight img{
          width: 4vh;
     }
     .navbarRight button{
          height: 5vh;
          width: 10vh;
          border-radius: 20px;
          font-size: small;
          background-color: transparent;
          cursor: pointer;
          transition: 0.1s;
          padding: 2px;
     }
     
}


@media screen and (max-width:900px){
     .navbar h2{
          color: rgb(177, 6, 6);
          font-size: 40px;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
           font-weight: 400;
          font-style: normal;
        }
     .logo{
          width: 16vh;
     }
     .navbar li{
          margin: 0 .5vh;
     }
     .navbarMenu li{
         
          font-size: medium;
     }
     .navbarRight img{
          width: 4vh;
     }
     .navbarRight button{
          height: 5vh;
          width: 10vh;
          border-radius: 20px;
          font-size: small;
          background-color: transparent;
          cursor: pointer;
          transition: 0.1s;
          padding: 2px;
     }
     .navbarRight{
          gap: 14px;
     }
     .navbarRight img{
          width: 4vh;
     }
     
}


@media screen and (max-width:700px){
     .navbarMenu{
          display: none;
     }
     .logo{
          width: 23vh;
     }
     .navbar h2{
          color: rgb(177, 6, 6);
          font-size: 25px;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
           font-weight: 400;
          font-style: normal;
        }

}

